@font-face {
  font-family: 'PT Mono';
  src: local('MyFont'), url(./fonts/PTMono-Regular.woff2) format('woff2'), url(./fonts/PTMono-Regular.woff) format('woff'), url(./fonts/PTMono-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html *{
  font-family: "PT Mono" !important;
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

#root {
  background: #DBF4EA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.ratio-container input, .scale-container input {
  border: 1px solid rgba(0 0 0/ 20%);
  border-radius: 30px;
  padding: 0.8rem 1.2rem;

  text-align: center;
}
.ratio-container input{
  max-width: 50px;
}

.scale-container {
  margin-bottom: 4rem;
}


.ratio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 0.4rem;
  position: relative !important;
  margin-bottom: 2rem;
}

.ratio-container:before {
  content: ':';
  position: absolute;
  top: -15%;
  bottom: 0;
  margin: auto;
  height: -moz-fit-content !important;
  height: fit-content !important;
  width: 100%;
  display: grid;
  place-content: center;
  font-size: 1.5rem;
  pointer-events: none;
  font-weight: 600;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button, select {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number], select {
  -moz-appearance: textfield;
}


.selection-container select {
  border: 1px solid rgba(0 0 0 /20%);
  padding: 1rem 1.4rem;
  border-radius: 5rem;
  text-align: center;
}

.selection-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4rem;
  row-gap: 0.4rem;
  margin-bottom: 2.6rem;
  position: relative;
}


.userInput-container input {
  width: 100%;
}

.userInput-container p {
  position: absolute;
  top: 0;
  bottom: 0;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
  transform: translate(-75%, -10%);
  font-size: 1rem;
  right: 0;
  font-weight: 600;
}
.userInput-container {
  position: relative;
  max-width: 260px;
  margin: auto;
  display: flex;
}


img.arrow-right-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 2rem;
}


div#converterContainer {
  position: relative;
  width: 100%;
}

div#converterContainer h1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: clamp(55px, 9.375vw, 180px);
  width: 100%;
  transform: translate(0, -40%);
  opacity: 0.1;
  pointer-events: none;
  letter-spacing: -5px;
}

p.output-text {
  font-size: 2rem;
  margin-bottom: 0;
}
.output-container {
  position: relative;
}

.output-container h6 , .userInput-container h6{
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 1;
}

.userInput-container h6 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: fit-content;
  margin: 0 auto;
  transform: translate(0%, 100%);
}